@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

html{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

body{
	padding: 0px 35px 35px 35px;

	background-color: white;
	background-image: url('Images/Stripe_Background.png');
	
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: white;
}

#container{	
	position: relative;
	min-width: 598px;
	max-width: 1177px;
	
	margin: 0px auto;
	opacity: 0;
}

#search_form{
	float: right;
	display: inline-block;
}

#search_field{
	width: 150px;
	padding: 3px 22px 3px 5px;
	margin: 8px 0px 8px 0px;
	border: 1px solid #999999;
	outline: none;
	
	background-image: url('Images/magnifying_glass_small.png');
	background-repeat: no-repeat;
	background-size: auto 12px;
	background-position: 160px 4px; 
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;	
}

#search_field:focus{
	box-shadow: 0px 0px 3px 1px rgba(30,96,165,1);
}

input::-webkit-input-placeholder {
    color: black;
}

.option_form{
	display: inline-block;
	float: right;
	margin: 8px 5px 8px 0px;
	padding: 3px 5px;	
	background-color: white;
	border: 1px solid #999999;
}

.option_form div{
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;	
}

#header{	
	position: relative;
	height: 26px;
	z-index: 1;
	background-color: #071C32;
}

#body_container{
	position: relative;
	
	background-color: #17528f;	
	
	border-left: 1px solid #071C32;
	border-right: 1px solid #071C32;
	border-bottom: 1px solid #071C32; 
}

#gradient_container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 312px;
	height: 100%;
	
	background-color: #17528f;	
	background: -moz-linear-gradient(left, rgba(8,29,51,1) 0%, rgba(23,82,143,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(8,29,51,1)), color-stop(100%,rgba(23,82,143,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(8,29,51,1) 0%,rgba(23,82,143,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(8,29,51,1) 0%,rgba(23,82,143,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(8,29,51,1) 0%,rgba(23,82,143,1) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(8,29,51,1) 0%,rgba(23,82,143,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#071C32', endColorstr='#17528f',GradientType=1);	
}

#commons img{
	float: right;
	vertical-align: bottom;
	margin: -20px 5px 0px 5px;
	padding: 25px 7px 5px 12px;
}

#logo_container{
	display: inline-block;
	margin: 0px 0px 0px 83px;
	padding: 5px 7px 5px 12px;
	border-left: 1px solid rgba(255,255,255,0.1);
	border-right: 1px solid rgba(255,255,255,0.1); 
}

.logo{
	height: 16px;
	margin: 0px 5px 0px 0px;
	padding: 0px;
}

#menu_container{
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.menu{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	margin-left: -4px;
}

.menu .heading a{
	display: inline-block;
	text-decoration: none; 
	color: white;
	padding: 7px 12px;
	border-left: 1px solid rgba(255,255,255,0.1);
}
.menu .heading a:hover {text-decoration:none; color:white}
.menu .heading a:visited {text-decoration:none; color:white}

.menu .collapse{
	width: 1px;
	position: relative;
}

.menu .expand{
	display: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

.menu .item a{
	display: block;
	text-decoration: none; 
	color: white;
	padding: 4px 12px;
	background-color: rgba(7,28,50,0.75);
}
.menu .item a:hover {text-decoration:none; color:white}
.menu .item a:visited {text-decoration:none; color:white}


#top{
	position: relative;
	height: 85px;
	background-image: url('Images/banner.png');
	background-repeat: no-repeat;
}

#CTMS_logo{
	height: 56px;
	padding: 15px 0px 15px 15px;
}

.example{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: auto;
	right: 0px;
	
	margin-left: 312px;
	margin-right: 5px;
	height: 85px;

	list-style-type: none;
	overflow: hidden;
}

.example .item{
	display: inline-block;
	margin: -1px -4px 0px 0px;
}

.example a {text-decoration:none; color:white}
.example a:hover {text-decoration:none; color:white}
.example a:visited {text-decoration:none; color:white}

.example .icon{
	display: block;
	height: 56px;
	margin: 4px auto -4px auto;
}

.example .tab{
	display: block;
	padding: 9px 8px 9px 8px;
	border-left: 1px solid rgba(0,0,0,0.25);
	
	background-color: rgba(0,0,0,0.25);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* W3C */
}

#left{
	float: left;
	margin-left: -100%;
	width: 156px; /*same as .content margin-left*/
}

.section{
	width: 146px;
	float: right;
	text-align: right;
	list-style-type: none;
}

.section_break{
    clear: both;
	height: 25px;
}

.section_heading_arrow{
	position: absolute;
	top: 10px;
	right: 0px;
	height: 14px;
	width: 14px;
	opacity: 1;
	z-index: 2;
}

.section_arrow{
	position: absolute;
	top: 10px;
	right: 0px;
	height: 14px;
	width: 14px;
	opacity: 0.25;
	z-index: 1;
}

.section .heading{
	position: relative;

	padding: 10px 25px;
	border-top: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	
	font-weight: bold;
	color: #FF5500;
	
	background-color: rgba(0,0,0,0.5);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
}

.section .item a{
	position: relative;
	display: block;
	
	text-decoration: none; 
	color: white;
		
	padding: 10px 25px;
	border-bottom: 1px solid rgba(0,0,0,0.25);	
		
	background-color: rgba(0,0,0,0.25);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /*  Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* W3C */
	
}
.section .item a:hover {text-decoration:none; color:white}
.section .item a:visited {text-decoration:none; color:white}


#copyright{
	position: relative;
	z-index: 1;
	display: block;
	text-align: center;
	padding: 4px 10px 4px 156px;
	font-size: 9px;
	line-height: 2em;
}


#content_container{
	position: relative;
	width: 100%;
	float: left;
}

.content{ 
	position: relative;
	display: block;
	margin: 0px 5px 0px 156px; /*same as left width*/
	min-height: 452px;
	padding:  15px 40px 15px 40px;

	background-color: white;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: black;
	line-height: 2em;
	text-align: justify;
	
	overflow: auto;
}

.search_results{ 
	position: relative;
	display: block;
	margin: 0px 5px 0px 156px; /*same as left width*/
	min-height: 452px;
	padding:  15px 40px 15px 40px;

	background-color: white;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: black;
	line-height: 2em;
	text-align: justify;

	overflow: auto;

}

.content_fx{
	opacity: 0;
}

.content .figure{
	display: block;   
	margin: 1em auto 3em;
	max-width: 100%;
}

.content .display_eqn{
	display: block;   
	margin: 1.5em auto;
	max-width: 100%;
}

.content .inline_eqn{
	display: inline-block;   
	vertical-align: middle;
	margin-top: -2px;
}

.content .eqn_num{
	float: right;
}

.content h1 { padding: 15px 0px 15px 0px; margin: 5px 0px 5px 0px; font-size:1.8em; color:#D55000; line-height:1.5em; font-weight:bold; border-bottom:1px solid #d6d4d4; text-align:left;}
.content h2 { padding: 5px 0px; margin:25px 0px 10px; font-size:1.2em; color:#000; font-weight:bold; line-height:140%; border-bottom:1px solid #d6d4d4; display:block; text-align:left; }
.content h3 { padding: 0px; margin:0px 0px 5px; font-size:1.1em; color:#000; font-weight:bold; line-height:140%; text-align:left; }

.content a { color:#005fce; text-decoration:none; }
.content a:hover { color:#005fce; text-decoration:underline; }
.content a:visited { color:#004aa0; text-decoration:none; }

.content p { padding:0px; margin:0px 0px 10px; clear: both;}

.content ul { padding:0px; margin:0px 0px 20px 23px; list-style:square; }
.content ul li { padding:0px; margin:0px 0px 2px 0px; }
.content ul li ul { padding:5px 0px 0px; margin:0px 0px 7px 23px; }
.content ul li ol li { list-style:decimal; }
.content ol { padding:0px; margin:0px 0px 20px 0px; list-style:decimal; }
.content ol li { padding:0px; margin:0px 0px 7px 23px; list-style-type:decimal; }
.content ol li ol { padding:5px 0px 0px; margin:0px 0px 7px 0px; }
.content ol li ol li { list-style-type:lower-alpha; }
.content ol li ul { padding-top:7px; }
.content ol li ul li { list-style:square; }

.content td { padding: 2px 10px; }
.content table{ text-align: center; margin: 0px auto;}

.content pre, tt, code { font-size:12px; }
.content pre { margin:0px 0px 20px; }
.content pre.error { color:red; }
.content pre.codeinput { padding:10px; border:1px solid #d3d3d3; background:#f7f7f7; }
.content pre.codeoutput { padding:10px 11px; margin:0px 0px 20px; color:#4c4c4c; }

.content @media print { pre.codeinput, pre.codeoutput { word-wrap:break-word; width:100%; } }

.content span.keyword { color:#0000FF }
.content span.comment { color:#228B22 }
.content span.string { color:#A020F0 }
.content span.untermstring { color:#B20000 }
.content span.syscmd { color:#B28C00 }

.content .footer { width:auto; padding:10px 0px; margin:25px 0px 0px; border-top:1px solid #d6d4d4; font-size:0.8em; line-height:140%; font-style:italic; color:#878787; text-align:left; float:none; }
.content .footer p { margin:0px; }

.content .introduction { width:70%; float:left; }
.content .related_links { width: 20%; float:right; background:#eee; border:2px solid #ececec; padding:20px 20px 0 20px; margin: 20px 0 20px 20px; }
.content .button { background-color: #0076a8; border: none; color: white; padding: 10px 21px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 4px; }
.content .button:hover { background-color: #B0C4DE; }
.clearboth { clear:both; }



